<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.base.PdmsRuleAreaPutMapper">
  <resultMap id="BaseResultMap" type="com.sprucetec.pdms.base.rules.sorting.entity.PdmsRuleAreaPut">
    <!--@mbg.generated-->
    <!--@Table pdms_rule_area_put-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="valid_lvl" jdbcType="TINYINT" property="validLvl" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="c_t" jdbcType="BIGINT" property="ct" />
    <result column="u_t" jdbcType="BIGINT" property="ut" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="updater" jdbcType="BIGINT" property="updater" />
    <result column="updater_name" jdbcType="VARCHAR" property="updaterName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, warehouse_id, area_id, valid_lvl, is_deleted, c_t, u_t, creater, updater, updater_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pdms_rule_area_put
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from pdms_rule_area_put
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sprucetec.pdms.base.rules.sorting.entity.PdmsRuleAreaPut" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pdms_rule_area_put (warehouse_id, area_id, valid_lvl, 
      is_deleted, c_t, u_t, creater, 
      updater, updater_name)
    values (#{warehouseId,jdbcType=BIGINT}, #{areaId,jdbcType=BIGINT}, #{validLvl,jdbcType=TINYINT}, 
      #{isDeleted,jdbcType=TINYINT}, #{ct,jdbcType=BIGINT}, #{ut,jdbcType=BIGINT}, #{creater,jdbcType=BIGINT}, 
      #{updater,jdbcType=BIGINT}, #{updaterName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sprucetec.pdms.base.rules.sorting.entity.PdmsRuleAreaPut" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pdms_rule_area_put
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="validLvl != null">
        valid_lvl,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="ct != null">
        c_t,
      </if>
      <if test="ut != null">
        u_t,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="updaterName != null">
        updater_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="validLvl != null">
        #{validLvl,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="ct != null">
        #{ct,jdbcType=BIGINT},
      </if>
      <if test="ut != null">
        #{ut,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=BIGINT},
      </if>
      <if test="updaterName != null">
        #{updaterName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sprucetec.pdms.base.rules.sorting.entity.PdmsRuleAreaPut">
    <!--@mbg.generated-->
    update pdms_rule_area_put
    <set>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="validLvl != null">
        valid_lvl = #{validLvl,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="ct != null">
        c_t = #{ct,jdbcType=BIGINT},
      </if>
      <if test="ut != null">
        u_t = #{ut,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=BIGINT},
      </if>
      <if test="updaterName != null">
        updater_name = #{updaterName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sprucetec.pdms.base.rules.sorting.entity.PdmsRuleAreaPut">
    <!--@mbg.generated-->
    update pdms_rule_area_put
    set warehouse_id = #{warehouseId,jdbcType=BIGINT},
      area_id = #{areaId,jdbcType=BIGINT},
      valid_lvl = #{validLvl,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      c_t = #{ct,jdbcType=BIGINT},
      u_t = #{ut,jdbcType=BIGINT},
      creater = #{creater,jdbcType=BIGINT},
      updater = #{updater,jdbcType=BIGINT},
      updater_name = #{updaterName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update pdms_rule_area_put
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="warehouse_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.warehouseId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="area_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.areaId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="valid_lvl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.validLvl,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.isDeleted,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="c_t = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.ct,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="u_t = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.ut,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="creater = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.creater,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updater = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updater,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updater_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updaterName,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pdms_rule_area_put
    (warehouse_id, area_id, valid_lvl, is_deleted, c_t, u_t, creater, updater, updater_name
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.warehouseId,jdbcType=BIGINT}, #{item.areaId,jdbcType=BIGINT}, #{item.validLvl,jdbcType=TINYINT}, 
        #{item.isDeleted,jdbcType=TINYINT}, #{item.ct,jdbcType=BIGINT}, #{item.ut,jdbcType=BIGINT}, 
        #{item.creater,jdbcType=BIGINT}, #{item.updater,jdbcType=BIGINT}, #{item.updaterName,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.sprucetec.pdms.base.rules.sorting.entity.PdmsRuleAreaPut" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pdms_rule_area_put
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      warehouse_id,
      area_id,
      valid_lvl,
      is_deleted,
      c_t,
      u_t,
      creater,
      updater,
      updater_name,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{warehouseId,jdbcType=BIGINT},
      #{areaId,jdbcType=BIGINT},
      #{validLvl,jdbcType=TINYINT},
      #{isDeleted,jdbcType=TINYINT},
      #{ct,jdbcType=BIGINT},
      #{ut,jdbcType=BIGINT},
      #{creater,jdbcType=BIGINT},
      #{updater,jdbcType=BIGINT},
      #{updaterName,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      warehouse_id = #{warehouseId,jdbcType=BIGINT},
      area_id = #{areaId,jdbcType=BIGINT},
      valid_lvl = #{validLvl,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      c_t = #{ct,jdbcType=BIGINT},
      u_t = #{ut,jdbcType=BIGINT},
      creater = #{creater,jdbcType=BIGINT},
      updater = #{updater,jdbcType=BIGINT},
      updater_name = #{updaterName,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.sprucetec.pdms.base.rules.sorting.entity.PdmsRuleAreaPut" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pdms_rule_area_put
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="validLvl != null">
        valid_lvl,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="ct != null">
        c_t,
      </if>
      <if test="ut != null">
        u_t,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="updaterName != null">
        updater_name,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="validLvl != null">
        #{validLvl,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="ct != null">
        #{ct,jdbcType=BIGINT},
      </if>
      <if test="ut != null">
        #{ut,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=BIGINT},
      </if>
      <if test="updaterName != null">
        #{updaterName,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="validLvl != null">
        valid_lvl = #{validLvl,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="ct != null">
        c_t = #{ct,jdbcType=BIGINT},
      </if>
      <if test="ut != null">
        u_t = #{ut,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=BIGINT},
      </if>
      <if test="updaterName != null">
        updater_name = #{updaterName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>