<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.base.PdmsDriverSelfCollectRecordMapper">
  <resultMap id="BaseResultMap" type="com.domain.schedule.PdmsDriverSelfCollectRecord">
    <!--@mbg.generated-->
    <!--@Table t_pdms_driver_self_collect_record-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="warehouse_id" jdbcType="BIGINT" property="warehouseId" />
    <result column="route_id" jdbcType="BIGINT" property="routeId" />
    <result column="delivery_date" jdbcType="INTEGER" property="deliveryDate" />
    <result column="batch_id" jdbcType="BIGINT" property="batchId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="ssu_id" jdbcType="BIGINT" property="ssuId" />
    <result column="is_self_col" jdbcType="INTEGER" property="isSelfCol" />
    <result column="picking_area_id" jdbcType="BIGINT" property="pickingAreaId" />
    <result column="picking_area_show_code" jdbcType="VARCHAR" property="pickingAreaShowCode" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="c_t" jdbcType="BIGINT" property="ct" />
    <result column="u_t" jdbcType="BIGINT" property="ut" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="updater" jdbcType="BIGINT" property="updater" />
    <result column="updater_name" jdbcType="VARCHAR" property="updaterName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, warehouse_id, route_id, delivery_date, batch_id, sku_id, ssu_id, is_self_col, 
    picking_area_id, picking_area_show_code, is_deleted, c_t, u_t, creater, updater, 
    updater_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_pdms_driver_self_collect_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_pdms_driver_self_collect_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.domain.schedule.PdmsDriverSelfCollectRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_pdms_driver_self_collect_record (warehouse_id, route_id, delivery_date, 
      batch_id, sku_id, ssu_id, 
      is_self_col, picking_area_id, picking_area_show_code, 
      is_deleted, c_t, u_t, creater, 
      updater, updater_name)
    values (#{warehouseId,jdbcType=BIGINT}, #{routeId,jdbcType=BIGINT}, #{deliveryDate,jdbcType=INTEGER}, 
      #{batchId,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{ssuId,jdbcType=BIGINT}, 
      #{isSelfCol,jdbcType=INTEGER}, #{pickingAreaId,jdbcType=BIGINT}, #{pickingAreaShowCode,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=TINYINT}, #{ct,jdbcType=BIGINT}, #{ut,jdbcType=BIGINT}, #{creater,jdbcType=BIGINT}, 
      #{updater,jdbcType=BIGINT}, #{updaterName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.domain.schedule.PdmsDriverSelfCollectRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_pdms_driver_self_collect_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="routeId != null">
        route_id,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="ssuId != null">
        ssu_id,
      </if>
      <if test="isSelfCol != null">
        is_self_col,
      </if>
      <if test="pickingAreaId != null">
        picking_area_id,
      </if>
      <if test="pickingAreaShowCode != null">
        picking_area_show_code,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="ct != null">
        c_t,
      </if>
      <if test="ut != null">
        u_t,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="updaterName != null">
        updater_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="routeId != null">
        #{routeId,jdbcType=BIGINT},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="ssuId != null">
        #{ssuId,jdbcType=BIGINT},
      </if>
      <if test="isSelfCol != null">
        #{isSelfCol,jdbcType=INTEGER},
      </if>
      <if test="pickingAreaId != null">
        #{pickingAreaId,jdbcType=BIGINT},
      </if>
      <if test="pickingAreaShowCode != null">
        #{pickingAreaShowCode,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="ct != null">
        #{ct,jdbcType=BIGINT},
      </if>
      <if test="ut != null">
        #{ut,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=BIGINT},
      </if>
      <if test="updaterName != null">
        #{updaterName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.schedule.PdmsDriverSelfCollectRecord">
    <!--@mbg.generated-->
    update t_pdms_driver_self_collect_record
    <set>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="routeId != null">
        route_id = #{routeId,jdbcType=BIGINT},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="ssuId != null">
        ssu_id = #{ssuId,jdbcType=BIGINT},
      </if>
      <if test="isSelfCol != null">
        is_self_col = #{isSelfCol,jdbcType=INTEGER},
      </if>
      <if test="pickingAreaId != null">
        picking_area_id = #{pickingAreaId,jdbcType=BIGINT},
      </if>
      <if test="pickingAreaShowCode != null">
        picking_area_show_code = #{pickingAreaShowCode,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="ct != null">
        c_t = #{ct,jdbcType=BIGINT},
      </if>
      <if test="ut != null">
        u_t = #{ut,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=BIGINT},
      </if>
      <if test="updaterName != null">
        updater_name = #{updaterName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.schedule.PdmsDriverSelfCollectRecord">
    <!--@mbg.generated-->
    update t_pdms_driver_self_collect_record
    set warehouse_id = #{warehouseId,jdbcType=BIGINT},
      route_id = #{routeId,jdbcType=BIGINT},
      delivery_date = #{deliveryDate,jdbcType=INTEGER},
      batch_id = #{batchId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      ssu_id = #{ssuId,jdbcType=BIGINT},
      is_self_col = #{isSelfCol,jdbcType=INTEGER},
      picking_area_id = #{pickingAreaId,jdbcType=BIGINT},
      picking_area_show_code = #{pickingAreaShowCode,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      c_t = #{ct,jdbcType=BIGINT},
      u_t = #{ut,jdbcType=BIGINT},
      creater = #{creater,jdbcType=BIGINT},
      updater = #{updater,jdbcType=BIGINT},
      updater_name = #{updaterName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update t_pdms_driver_self_collect_record
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="warehouse_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.warehouseId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="route_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.routeId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="delivery_date = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.deliveryDate,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="batch_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.batchId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="sku_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.skuId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="ssu_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.ssuId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="is_self_col = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.isSelfCol,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="picking_area_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.pickingAreaId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="picking_area_show_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.pickingAreaShowCode,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.isDeleted,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="c_t = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.ct,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="u_t = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.ut,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="creater = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.creater,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updater = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updater,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="updater_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updaterName,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_pdms_driver_self_collect_record
    (warehouse_id, route_id, delivery_date, batch_id, sku_id, ssu_id, is_self_col, picking_area_id, 
      picking_area_show_code, is_deleted, c_t, u_t, creater, updater, updater_name)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.warehouseId,jdbcType=BIGINT}, #{item.routeId,jdbcType=BIGINT}, #{item.deliveryDate,jdbcType=INTEGER}, 
        #{item.batchId,jdbcType=BIGINT}, #{item.skuId,jdbcType=BIGINT}, #{item.ssuId,jdbcType=BIGINT}, 
        #{item.isSelfCol,jdbcType=INTEGER}, #{item.pickingAreaId,jdbcType=BIGINT}, #{item.pickingAreaShowCode,jdbcType=VARCHAR}, 
        #{item.isDeleted,jdbcType=TINYINT}, #{item.ct,jdbcType=BIGINT}, #{item.ut,jdbcType=BIGINT}, 
        #{item.creater,jdbcType=BIGINT}, #{item.updater,jdbcType=BIGINT}, #{item.updaterName,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.domain.schedule.PdmsDriverSelfCollectRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_pdms_driver_self_collect_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      warehouse_id,
      route_id,
      delivery_date,
      batch_id,
      sku_id,
      ssu_id,
      is_self_col,
      picking_area_id,
      picking_area_show_code,
      is_deleted,
      c_t,
      u_t,
      creater,
      updater,
      updater_name,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{warehouseId,jdbcType=BIGINT},
      #{routeId,jdbcType=BIGINT},
      #{deliveryDate,jdbcType=INTEGER},
      #{batchId,jdbcType=BIGINT},
      #{skuId,jdbcType=BIGINT},
      #{ssuId,jdbcType=BIGINT},
      #{isSelfCol,jdbcType=INTEGER},
      #{pickingAreaId,jdbcType=BIGINT},
      #{pickingAreaShowCode,jdbcType=VARCHAR},
      #{isDeleted,jdbcType=TINYINT},
      #{ct,jdbcType=BIGINT},
      #{ut,jdbcType=BIGINT},
      #{creater,jdbcType=BIGINT},
      #{updater,jdbcType=BIGINT},
      #{updaterName,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      warehouse_id = #{warehouseId,jdbcType=BIGINT},
      route_id = #{routeId,jdbcType=BIGINT},
      delivery_date = #{deliveryDate,jdbcType=INTEGER},
      batch_id = #{batchId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      ssu_id = #{ssuId,jdbcType=BIGINT},
      is_self_col = #{isSelfCol,jdbcType=INTEGER},
      picking_area_id = #{pickingAreaId,jdbcType=BIGINT},
      picking_area_show_code = #{pickingAreaShowCode,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      c_t = #{ct,jdbcType=BIGINT},
      u_t = #{ut,jdbcType=BIGINT},
      creater = #{creater,jdbcType=BIGINT},
      updater = #{updater,jdbcType=BIGINT},
      updater_name = #{updaterName,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.domain.schedule.PdmsDriverSelfCollectRecord" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_pdms_driver_self_collect_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="routeId != null">
        route_id,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="ssuId != null">
        ssu_id,
      </if>
      <if test="isSelfCol != null">
        is_self_col,
      </if>
      <if test="pickingAreaId != null">
        picking_area_id,
      </if>
      <if test="pickingAreaShowCode != null">
        picking_area_show_code,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="ct != null">
        c_t,
      </if>
      <if test="ut != null">
        u_t,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="updaterName != null">
        updater_name,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="routeId != null">
        #{routeId,jdbcType=BIGINT},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="ssuId != null">
        #{ssuId,jdbcType=BIGINT},
      </if>
      <if test="isSelfCol != null">
        #{isSelfCol,jdbcType=INTEGER},
      </if>
      <if test="pickingAreaId != null">
        #{pickingAreaId,jdbcType=BIGINT},
      </if>
      <if test="pickingAreaShowCode != null">
        #{pickingAreaShowCode,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="ct != null">
        #{ct,jdbcType=BIGINT},
      </if>
      <if test="ut != null">
        #{ut,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=BIGINT},
      </if>
      <if test="updaterName != null">
        #{updaterName,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=BIGINT},
      </if>
      <if test="routeId != null">
        route_id = #{routeId,jdbcType=BIGINT},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="ssuId != null">
        ssu_id = #{ssuId,jdbcType=BIGINT},
      </if>
      <if test="isSelfCol != null">
        is_self_col = #{isSelfCol,jdbcType=INTEGER},
      </if>
      <if test="pickingAreaId != null">
        picking_area_id = #{pickingAreaId,jdbcType=BIGINT},
      </if>
      <if test="pickingAreaShowCode != null">
        picking_area_show_code = #{pickingAreaShowCode,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="ct != null">
        c_t = #{ct,jdbcType=BIGINT},
      </if>
      <if test="ut != null">
        u_t = #{ut,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=BIGINT},
      </if>
      <if test="updaterName != null">
        updater_name = #{updaterName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>